$primary : #cfe3deff;
$secondary : #006680ff;

$textColor : #082830;
$linkColor : #31454b;

$accentYellow : #ffd42aff;
$accentBlue : #55ddffff;
$accentOrange :  #ff6600ff;
$accentGreen : #00d4aaff;

$primaryTrans : rgba(207, 227, 222, 0.863);
$accentBlueTrans : rgba(85, 221, 255, 0.25);
$secondaryTrans : rgba(0, 102, 128, 0.25);

$border: solid 2px rgba(68, 102, 102, 0.514);

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bannerAccent($colorValue){
    color: $colorValue;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

@mixin setSkillContainerBg($id){
  
}



body { 
    background-color: $primary;
    display: block;
    justify-content: center;
    color: $textColor;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    max-width: 2560px;
    .app {
        width: 100%;
        display: flex;
    }
    a {
        text-decoration: none;
        color: $linkColor;
        font-size: medium;
        font-weight: 400;
    }
    span{
        margin: -0.3em;
    }
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

.Top {
    background-image: url('../img/mountcodeGradDarker.png');
    background-position: center;
    background-size: cover;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    nav {
        display: flex;
        padding: 1em;
        a {
            background-color: $accentYellow;
            padding: 0.5em 1em;
            text-align: center;
            border: solid 2px rgba(68, 102, 102, 0.514);
            border-radius: 3px;
            margin: 0 0.5em;
            &:hover{
                background-color: $accentOrange;
                color: $primary;
            }
        }
    }
    .headLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        h1 {
            color: $primary;
            font-size: medium;
            margin-top: 0%;
            text-shadow: 1px 1px 5px black;
        }
        img {
            width: 12em;
            margin-top: 1em;
            margin-left: 1em;
        }
    }

    
}

.Banner {
    @include flexCenter();
    height: 25em;
    .CenterBannerContent {
        @include flexCenter();
        flex-direction: column;
        width: 100%;
        height: fit-content;
        //background-color: $primary;
        //border: $border;
        //border-radius: 3px;
        padding: 1em;
        * {
            padding: 0.5em;
        }
        h1 {
            margin-top: -2em;
            text-align: center;
            font-size: 4rem;
            font-weight: 500;
            //text-shadow: 1px 1px 3px black;
            color: $primary;
        }
        .softEng {
            @include bannerAccent($accentOrange)
        }
        
        .biz {
            @include bannerAccent($accentGreen)
        }
        
        .graphic {
            @include bannerAccent($accentYellow)
        }
        
        .learn {
            @include bannerAccent($accentBlue)
        }
    }
}



.DevIcons {
    @include flexCenter();
    box-shadow: 0px 0 10px rgba(48, 48, 48, 0.658);
    z-index: 100;
    background-color: $secondary;
    margin: 0;
    padding: 2em 0;
    justify-content: space-evenly;
    flex-shrink: 3;
    *{
        width: 4em;
        height: 4em;
        padding: 0 1em;
    }
    .yellow{
        color: $accentYellow;
    }
    .blue{
        color: $accentBlue;
    }
    .green{
        color: $accentGreen;
    }
    .orange{
        color: $accentOrange;
    }
}


.wave{
    position: absolute;
    width: 100%;
    height: 8rem;
    z-index: 1;
}
#waveTop{
    margin-bottom: -0.3em;
}


.skillSet{
    padding-top: 3em;
    
    .skill{
        z-index: -1;
        @include flexCenter();
        > * {
            width: 50%;
            height: 20em;
        }
        .skillText{
            @include flexCenter();
            flex-direction: column;
            margin: 0 2em;
        }

    }
        
    #SC0 {
        background: $accentOrange;
        }
    #SC1 {
        background: $accentGreen;
        }
    #SC2 {
        background: $accentYellow;
        }
}
    


