body {
  background-color: #cfe3deff;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #082830;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  max-width: 2560px;
}

body .app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body a {
  text-decoration: none;
  color: #31454b;
  font-size: medium;
  font-weight: 400;
}

body span {
  margin: -0.3em;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.Top {
  background-image: url("../img/mountcodeGradDarker.png");
  background-position: center;
  background-size: cover;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.Header nav a {
  background-color: #ffd42aff;
  padding: 0.5em 1em;
  text-align: center;
  border: solid 2px rgba(68, 102, 102, 0.514);
  border-radius: 3px;
  margin: 0 0.5em;
}

.Header nav a:hover {
  background-color: #ff6600ff;
  color: #cfe3deff;
}

.Header .headLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.Header .headLogo h1 {
  color: #cfe3deff;
  font-size: medium;
  margin-top: 0%;
  text-shadow: 1px 1px 5px black;
}

.Header .headLogo img {
  width: 12em;
  margin-top: 1em;
  margin-left: 1em;
}

.Banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25em;
}

.Banner .CenterBannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
}

.Banner .CenterBannerContent * {
  padding: 0.5em;
}

.Banner .CenterBannerContent h1 {
  margin-top: -2em;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: #cfe3deff;
}

.Banner .CenterBannerContent .softEng {
  color: #ff6600ff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.Banner .CenterBannerContent .biz {
  color: #00d4aaff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.Banner .CenterBannerContent .graphic {
  color: #ffd42aff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.Banner .CenterBannerContent .learn {
  color: #55ddffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.DevIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0 10px rgba(48, 48, 48, 0.658);
          box-shadow: 0px 0 10px rgba(48, 48, 48, 0.658);
  z-index: 100;
  background-color: #006680ff;
  margin: 0;
  padding: 2em 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.DevIcons * {
  width: 4em;
  height: 4em;
  padding: 0 1em;
}

.DevIcons .yellow {
  color: #ffd42aff;
}

.DevIcons .blue {
  color: #55ddffff;
}

.DevIcons .green {
  color: #00d4aaff;
}

.DevIcons .orange {
  color: #ff6600ff;
}

.wave {
  position: absolute;
  width: 100%;
  height: 8rem;
  z-index: 1;
}

#waveTop {
  margin-bottom: -0.3em;
}

.skillSet {
  padding-top: 3em;
}

.skillSet .skill {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillSet .skill > * {
  width: 50%;
  height: 20em;
}

.skillSet .skill .skillText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2em;
}

.skillSet #SC0 {
  background: #ff6600ff;
}

.skillSet #SC1 {
  background: #00d4aaff;
}

.skillSet #SC2 {
  background: #ffd42aff;
}
/*# sourceMappingURL=style.css.map */