body {
  background-color: #cfe3deff;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #082830;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

body .app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body a {
  text-decoration: none;
  color: #31454b;
  font-size: medium;
  font-weight: 400;
}

.Top {
  background-image: url("../img/mountcodeGrad.png");
  background-position: center;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.Header nav a {
  background-color: #ffd42aff;
  padding: 0.5em 1em;
  text-align: center;
  border: solid 2px rgba(68, 102, 102, 0.514);
  border-radius: 3px;
  margin: 0 0.5em;
}

.Header nav a:hover {
  background-color: #00d4aaff;
}

.Header .headLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.Header .headLogo h1 {
  color: #cfe3deff;
  font-size: medium;
  margin-top: 0%;
}

.Header .headLogo img {
  width: 7em;
  margin-top: 1em;
}

.Banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25em;
}

.Banner .CenterBannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
}

.Banner .CenterBannerContent * {
  padding: 0.5em;
}

.Banner .CenterBannerContent h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: #cfe3deff;
}

.DevIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #006680ff;
  margin-top: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.DevIcons * {
  width: 3em;
  height: 3em;
  padding: 1em 0;
}

.DevIcons .yellow {
  color: #ffd42aff;
}

.DevIcons .blue {
  color: #55ddffff;
}

.DevIcons .green {
  color: #00d4aaff;
}

.DevIcons .orange {
  color: #ff6600ff;
}
/*# sourceMappingURL=style.css.map */