@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LuckyDev";
  src: url("../fonts/LuckyDev.ttf");
}

@layer base {
  body {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "JetBrains Mono", "Ubuntu", "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: #2b302f;
  }
}

@layer components {
  .appLevelStyling {
    @apply p-0 w-screen grid max-w-full
  }

  .topLevelDivStyling {
    @apply flex flex-row w-auto
  }
}